In [5]:
import sqlite3 as sql

In [6]:
print(dir(sql))

['Binary', 'Connection', 'Cursor', 'DataError', 'DatabaseError', 'Date', 'DateFromTicks', 'Error', 'IntegrityError', 'InterfaceError', 'InternalError', 'NotSupportedError', 'OperationalError', 'PARSE_COLNAMES', 'PARSE_DECLTYPES', 'PrepareProtocol', 'ProgrammingError', 'Row', 'SQLITE_ALTER_TABLE', 'SQLITE_ANALYZE', 'SQLITE_ATTACH', 'SQLITE_CREATE_INDEX', 'SQLITE_CREATE_TABLE', 'SQLITE_CREATE_TEMP_INDEX', 'SQLITE_CREATE_TEMP_TABLE', 'SQLITE_CREATE_TEMP_TRIGGER', 'SQLITE_CREATE_TEMP_VIEW', 'SQLITE_CREATE_TRIGGER', 'SQLITE_CREATE_VIEW', 'SQLITE_CREATE_VTABLE', 'SQLITE_DELETE', 'SQLITE_DENY', 'SQLITE_DETACH', 'SQLITE_DONE', 'SQLITE_DROP_INDEX', 'SQLITE_DROP_TABLE', 'SQLITE_DROP_TEMP_INDEX', 'SQLITE_DROP_TEMP_TABLE', 'SQLITE_DROP_TEMP_TRIGGER', 'SQLITE_DROP_TEMP_VIEW', 'SQLITE_DROP_TRIGGER', 'SQLITE_DROP_VIEW', 'SQLITE_DROP_VTABLE', 'SQLITE_FUNCTION', 'SQLITE_IGNORE', 'SQLITE_INSERT', 'SQLITE_OK', 'SQLITE_PRAGMA', 'SQLITE_READ', 'SQLITE_RECURSIVE', 'SQLITE_REINDEX', 'SQLITE_SAVEPOINT', 'SQLITE_SELECT', 'SQLITE_TRANSACTION', 'SQLITE_UPDATE', 'Time', 'TimeFromTicks', 'Timestamp', 'TimestampFromTicks', 'Warning', '__builtins__', '__cached__', '__doc__', '__file__', '__getattr__', '__loader__', '__name__', '__package__', '__path__', '__spec__', 'adapt', 'adapters', 'apilevel', 'collections', 'complete_statement', 'connect', 'converters', 'datetime', 'dbapi2', 'enable_callback_tracebacks', 'enable_shared_cache', 'paramstyle', 'register_adapter', 'register_converter', 'sqlite_version', 'sqlite_version_info', 'threadsafety', 'time', 'version', 'version_info']

In [7]:
data = sql.connect("mydata.db")

In [8]:
print(dir(data))

['DataError', 'DatabaseError', 'Error', 'IntegrityError', 'InterfaceError', 'InternalError', 'NotSupportedError', 'OperationalError', 'ProgrammingError', 'Warning', '__call__', '__class__', '__delattr__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'backup', 'close', 'commit', 'create_aggregate', 'create_collation', 'create_function', 'cursor', 'enable_load_extension', 'execute', 'executemany', 'executescript', 'in_transaction', 'interrupt', 'isolation_level', 'iterdump', 'load_extension', 'rollback', 'row_factory', 'set_authorizer', 'set_progress_handler', 'set_trace_callback', 'text_factory', 'total_changes']

In [9]:
cur = data.cursor()

In [13]:
cur.execute("create table user(id int, name varchar(20), city varhcar(20))")

In [15]:
cur.execute('''insert into user(id, name, city) values(1, "Rahul", "ahmedabad")''')

In [16]:
data.commit()

In [25]:
db_data = [
    {
        'id': 2,
        'name': 'Manthan',
        'city': 'ahmedabad',
    },
    {
        'id': 3,
        'name': 'Vivek',
        'city': 'ahmedabad',
    }
]

In [26]:
for i in db_data:
    d = tuple(i.values())

    r_data = f"""insert into user(id, name, city) values{d}"""
    print(r_data)

data.commit()

insert into user(id, name, city) values(2, 'Manthan', 'ahmedabad')
insert into user(id, name, city) values(3, 'Vivek', 'ahmedabad')

In [27]:
cur.execute('select * from user')

In [28]:
data_fetch = cur.fetchall()

In [29]:
data_fetch

[(1, 'Rahul', 'ahmedabad')]

In [52]:
for i in data_fetch:
    for j in i:
        print(j)

1
Rahul
ahmedabad

In [53]:
print(j)

ahmedabad

In [54]:
key = ["id", "name", "city", "id", "name", "city", "id", "name", "city"]

In [55]:
dct = dict(zip(key, dat))
print(dat)

ahmedabad

In [56]:
finl_dict = {key[i]: dat[i] for i in range(len(key))}
print(finl_dict)

{'id': 'b', 'name': 'a', 'city': 'd'}