In [25]:
import pymysql as conect

class DBhelper:
    def __init__(self):
        self.conect = sql.connect(host="localhost", port=3306, user="root", password="root", database="oopssql")
        query="create table user(userID int, userName varchar(20), phone varchar(10)"
        cur = self.conect.cursor()
        cur.execute(query)
        print("created")



        helper = DBhelper()

In [26]:
import pymysql as sql

In [27]:
db = sql.connect(host="localhost", port=3306, user="root", password="", database="my_sql")

In [29]:
cur = db.cursor()

In [30]:
cur.execute("insert into user(userID, userName, phone) values(007, 'Abhishek', '777')")

1

In [34]:
cur.execute("select * from user")

1

In [35]:
cur.fetchall()

((7, 'Abhishek', '777'),)

In [36]:
db.commit()

In [58]:
cur.execute('''insert into user(userID, userName, phone) values(7, "Abhi", "777")''')

1

In [59]:
db.commit()

In [60]:
cur.execute("select * from user")

2

In [61]:
data = cur.fetchall()

In [62]:
for i in data:
    print(i)

(11, 'Abhay', '007')
(7, 'Abhi', '777')

In [48]:
cur.execute("delete from user where userID = 7")

1

In [50]:
cur.execute("select * from user")

1

In [51]:
cur.fetchall()

((11, 'Abhi', '007'),)

In [54]:
cur.execute("update user set userName= 'Abhay', phone= '007' where userID=11")

1

In [63]:
cur.execute("select * from user")

2

In [64]:
cur.fetchall()

((11, 'Abhay', '007'), (7, 'Abhi', '777'))