In [8]:
for i in range(1, 12):
    print("* " * i)
for i in range(10, 0, -1):
    print("* " * i)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [4]:
for i in range(10, 0, -1):
    print("* " * i)

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [1]:
f_n1 = float(input("Enter 1st Number: "))

print("+,-,*,/")
result = input("Enter Operator")

s_n2 = float(input("Enter 2nd Number: "))

if result == "+":
    print(f_n1 + s_n2)

elif result == "-":
    print(f_n1 - s_n2)
    
elif result == "*":
    print(f_n1 * s_n2)
    
elif result == "/":
    print(f_n1 / s_n2)
    
else:
    print("enter valid number")

Enter 1st Number: 25
+,-,*,/
Enter Operator*
Enter 2nd Number: 2
50.0

In [2]:
Name = "Abhishek"

for i in Name:
    print(i, end=" *_* ")

A *_* b *_* h *_* i *_* s *_* h *_* e *_* k *_*

In [11]:
for i in range(0, 11):
    print("\ " * i)
for i in range(10, 0, -1):
    print("/ " * i)

\
\ \
\ \ \
\ \ \ \
\ \ \ \ \
\ \ \ \ \ \
\ \ \ \ \ \ \
\ \ \ \ \ \ \ \
\ \ \ \ \ \ \ \ \
\ \ \ \ \ \ \ \ \ \
/ / / / / / / / / /
/ / / / / / / / /
/ / / / / / / /
/ / / / / / /
/ / / / / /
/ / / / /
/ / / /
/ / /
/ /
/

In [13]:
for i in range(10, 0, -1):
    print("/ " * i)
for i in range(0, 11):
    print("\ " * i)

/ / / / / / / / / /
/ / / / / / / / /
/ / / / / / / /
/ / / / / / /
/ / / / / /
/ / / / /
/ / / /
/ / /
/ /
/

\
\ \
\ \ \
\ \ \ \
\ \ \ \ \
\ \ \ \ \ \
\ \ \ \ \ \ \
\ \ \ \ \ \ \ \
\ \ \ \ \ \ \ \ \
\ \ \ \ \ \ \ \ \ \

In [1]:
for i in range(0, 11):
    print(' ' * (10-i) + ' +' * i)

          +
         + +
        + + +
       + + + +
      + + + + +
     + + + + + +
    + + + + + + +
   + + + + + + + +
  + + + + + + + + +
 + + + + + + + + + +

In [18]:
Name = "Hello abhishek, what's going on"
name = 'Hello abhishek, what"s going on'
A_name = '''Hello abhishek, 
        what"s going 
on.    Is there,every
thing fine'''
print(Name)
print(name)
print(A_name)

Hello abhishek, what's going on
Hello abhishek, what"s going on
Hello abhishek,
        what"s going
on.    Is there,every
thing fine

In [43]:
name = "hello Abhishek, Are you fine! everything okay with you? Dear Abhishek"
print(name)
print(type(name))
print(len(name))
print(name[0])
print(name[6:10])
print(name[6:])
print(name[0:55:2])
print(name.endswith("you?"))
print(name.replace("Abhishek", "Abhi"))
print(name.count("Abhishek"))  # There is 2 Abhishek in name
print(name.count("Z"))         # ans 0 that means there in no Z in name
print(name.capitalize())
print(name.upper())
print(name.find("Abhishek"))

hello Abhishek, Are you fine! everything okay with you? Dear Abhishek
<class 'str'>
69
h
Abhi
Abhishek, Are you fine! everything okay with you? Dear Abhishek
hloAhse,Aeyufn!eeyhn kywt o?
False
hello Abhi, Are you fine! everything okay with you? Dear Abhi
2
0
Hello abhishek, are you fine! everything okay with you? dear abhishek
HELLO ABHISHEK, ARE YOU FINE! EVERYTHING OKAY WITH YOU? DEAR ABHISHEK
6

In [26]:
na = ["Abhi", 17.1, "Abhshek", 21, "Miskin", "Abhi"]
print(na)
print(na[0:6])
print(na[0: :2])
print(na[-3:])
print(na[-1])
print(na.count("Abhi"))
print(type(na))
print(len(na))

['Abhi', 17.1, 'Abhshek', 21, 'Miskin', 'Abhi']
['Abhi', 17.1, 'Abhshek', 21, 'Miskin', 'Abhi']
['Abhi', 'Abhshek', 'Miskin']
[21, 'Miskin', 'Abhi']
Abhi
2
<class 'list'>
6

In [45]:
print(name)
print(name.replace("hello", "Hii"))

hello Abhishek, Are you fine! everything okay with you? Dear Abhishek
Hii Abhishek, Are you fine! everything okay with you? Dear Abhishek

In [52]:
for i in range(0, 11):
    print("\ " * i)
for i in range(10, 0, -1):
    print("/ " * i)

\
\ \
\ \ \
\ \ \ \
\ \ \ \ \
\ \ \ \ \ \
\ \ \ \ \ \ \
\ \ \ \ \ \ \ \
\ \ \ \ \ \ \ \ \
\ \ \ \ \ \ \ \ \ \
/ / / / / / / / / /
/ / / / / / / / /
/ / / / / / / /
/ / / / / / /
/ / / / / /
/ / / / /
/ / / /
/ / /
/ /
/

In [53]:
for i in range(0, 11):
    print("> " * i)
for i in range(10, 0, -1):
    print("> " * i)

> > > > > > > > > >
> > > > > > > > >
> > > > > > > >
> > > > > > >
> > > > > >
> > > > >
> > > >
> > >
> >
>

In [8]:
a = 1
while a < 6:
    print(a)
    a += 1

1
2
3
4
5

In [16]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

In [24]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

In [1]:
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [3]:
i = 1
while i < 6:
    print(i)
    i += 1
else :
    print("i in no longer then 6")

1
2
3
4
5
i in no longer then 6

In [2]:
rt = {
    "Abhi" : 21,
    1 : 2,
    "Abhishek" : "Miskin",
    "Miskin" : "Abhi",
    "Marks" : 20,
    "Hello" : {"Hi" : "Hello"}
}
print(rt)
print(rt['Abhishek'])
print(rt.get('Abhishek'))
print(rt.get('Abhishek1'))

{'Abhi': 21, 1: 2, 'Abhishek': 'Miskin', 'Miskin': 'Abhi', 'Marks': 20, 'Hello': {'Hi': 'Hello'}}
Miskin
Miskin
None

In [3]:
print(rt.keys())
rt["Marks"] = [50,45]
print(rt["Marks"])
print(type(rt))
print(list(rt.items()))
print("---------------------")
print(rt.items())

dict_keys(['Abhi', 1, 'Abhishek', 'Miskin', 'Marks', 'Hello'])
[50, 45]
<class 'dict'>
[('Abhi', 21), (1, 2), ('Abhishek', 'Miskin'), ('Miskin', 'Abhi'), ('Marks', [50, 45]), ('Hello', {'Hi': 'Hello'})]
---------------------
dict_items([('Abhi', 21), (1, 2), ('Abhishek', 'Miskin'), ('Miskin', 'Abhi'), ('Marks', [50, 45]), ('Hello', {'Hi': 'Hello'})])